:root {
  --size: 200px;
}
body {
  height: 100vh;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.time-group {
  background-color: rgb(238, 240, 245);
  display: flex;
  flex-direction: column;
  opacity: inherit;
  border: 8px none;
  transition: background-color 0.2s ease 0s, opacity 0.1s ease 0s;
  user-select: none;
  position: relative;
  width: var(--size);
  height: calc(var(--size) + 600px);
  position: relative;
}

.time {
  height: 100%;
  font-size: 14px;
  box-sizing: border-box;
  border-top: 1px solid #e0e0e0;
}

.container {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin-left: 40px;
  box-sizing: border-box;
}

.box {
  background-color: #a5dff8;
  color: #101928;

  width: calc(var(--size) - 40px);
  min-height: 40px;
  height: 100px;
  max-height: 100px;
  padding: 8px;
  border-radius: 2px;

  box-shadow: none;
  box-sizing: border-box;
  user-select: none;
  display: flex;
  cursor: grab;
  position: absolute;
  overflow: auto;
  transition: all 0.15s cubic-bezier(0, 0, 0.2, 1);
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

.box:active {
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.dragging {
  cursor: grabbing;
  z-index: 1000;
}
